# VS Code settings
.vscode

# build / executables
build/
*.exe
*.out

# temp files
*.log
*.tmp
*.cph
*.o
a.out
*.tmp
*.temp
*.swp
*.bak
Thumbs.db
ehthumbs.db
Desktop.ini
*.obj
*.ilk
*.pdb
CMakeCache.txt
CMakeFiles/
cmake-build-*/

